* {
    font-family: 'Oswald', sans-serif;
}

.score__old-result {
    font-size: 6.3em;
    color: rgba(70, 70, 71, 1);
}

.scrore__expression {
    font-size: 3.6em;
    color: rgba(114, 138, 183, 0.65);
}

.score__result {
    font-size: 15px;
    color: rgba(242, 242, 244, 1);
    font-size: 6em;
}
